<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyebb"
    android:versionCode="3"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <!-- use for bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- phone call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- VIBRATE -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- language -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.eyebb.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.eyebb.permission.C2D_MESSAGE" />

    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCgpafiP-1AYoJoohoOfzzQqmEa7ofp7W4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.twinly.eyebb.activity.LancherActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.VerifyBirthdayFromDeviceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ChildInformationMatchingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ChooseUsrRoleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.AuthorizeKidsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ChildDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.BeepAllForRadarDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ChildBirthdayDialog"
            android:label="Date Selection"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SelectDate" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.RefreshTimeDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ErrorDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.BeepDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.RadarOutOfRssiBeepDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ConnectDeviceDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.BusEnterDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.BusLeaveDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.BusSchoolDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.SchoolBusTrackingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ActivityDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.KindergartenListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.KidsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.ChangeKidsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.MatchingVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.MatchingDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.VerifyDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.RadarShowAllScanImageDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
       </activity>   
       <activity
            android:name="com.twinly.eyebb.activity.RadarShowAllMissImageDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
       </activity> 
        <activity
            android:name="com.twinly.eyebb.bluetooth.ServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.bluetooth.CharacteristicsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.bluetooth.RadarServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.bluetooth.RadarCharacteristicsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.bluetooth.RadarSOSServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.bluetooth.RadarSOSCharacteristicsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service
            android:name="com.twinly.eyebb.bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="com.twinly.eyebb.bluetooth.DeviceListAcitivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.twinly.eyebb.activity.CheckBeaconActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>

        <receiver
            android:name="com.twinly.eyebb.service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <category android:name="com.eyebb" />
            </intent-filter>
        </receiver>
   <!--      <receiver
            android:name="com.twinly.eyebb.fragment.RadarTrackingFragment"
            android:permission="android.permission.BLUETOOTH_ADMIN" >
            <intent-filter>
                <action android:name="BluetoothAdapter.STATE_TURNING_OFF" />
                <action android:name="BluetoothAdapter.STATE_OFF" />
            </intent-filter>
        </receiver>
 -->
        <service android:name="com.twinly.eyebb.service.GcmIntentService" />
        <service
            android:name="com.twinly.eyebb.service.BleServicesService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.twinly.eyebb.service.BLE_SERVICES_SERVICES" >
                </action>
            </intent-filter>
        </service>
        <service
            android:name="com.twinly.eyebb.service.BleCharacteristicsService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.twinly.eyebb.service.BLE_CHARACTERISTICS_SERVICES" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>